force-app/user-deactivation/flows/CRM_User_deactivation_process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_CSV_files</name>
        <label>Generate CSV files</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <actionName>UserDeactivationCreateCSV</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_number_of_deactivated_user</targetReference>
        </connector>
        <inputParameters>
            <name>userDeactivationId</name>
            <value>
                <elementReference>Get_active_user_activation_process.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Number_of_users</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_number_of_users_who_should_be_deactivated</name>
        <label>Get number of users who should be deactivated</label>
        <locationX>622</locationX>
        <locationY>866</locationY>
        <actionName>UserDeactivationGetUsers</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Select_Due_Date</targetReference>
        </connector>
        <inputParameters>
            <name>lastLoginDates</name>
            <value>
                <elementReference>Input_last_login_date</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Number_of_users</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Recheck_number_of_users</name>
        <label>Recheck number of users</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <actionName>UserDeactivationGetUsers</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Status</targetReference>
        </connector>
        <inputParameters>
            <name>lastLoginDates</name>
            <value>
                <elementReference>Get_active_user_activation_process.LastLoginDate__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Number_of_users</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_email_notifications</name>
        <label>Send email notifications</label>
        <locationX>622</locationX>
        <locationY>1190</locationY>
        <actionName>UserDeactivationSendEmails</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Notification_Confirmation</targetReference>
        </connector>
        <inputParameters>
            <name>userDeactivationId</name>
            <value>
                <elementReference>User_Deactivation_Record_ID</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_link_to_CSV_files</name>
        <label>Send link to CSV files</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Deaktivering av brukere</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Record_link</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>Get_active_user_activation_process.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Set_input_login_date</name>
        <label>Set input login date</label>
        <locationX>622</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Input_last_login_date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Login_date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_test_user_should_be_used</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_last_ogin_date_to_today</name>
        <label>Set last login date to today</label>
        <locationX>490</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Input_last_login_date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_number_of_users_who_should_be_deactivated</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_active_user_deactivation_process_exists</name>
        <label>Check if active user deactivation process exists</label>
        <locationX>402</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>New_extract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New process</defaultConnectorLabel>
        <rules>
            <name>Existing_user_deactivation_process</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_active_user_activation_process</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recheck_number_of_users</targetReference>
            </connector>
            <label>Existing process</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_CSV_files_should_be_generated</name>
        <label>Check if CSV files should be generated</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>No CSV files will be created</defaultConnectorLabel>
        <rules>
            <name>Create_CSV_files_is_chosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_csv_files_for_users_who_need_to_be_deactivated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_CSV_files</targetReference>
            </connector>
            <label>Create CSV files is chosen</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_test_user_should_be_used</name>
        <label>Check if test user should be used</label>
        <locationX>622</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Get_number_of_users_who_should_be_deactivated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Actual users</defaultConnectorLabel>
        <rules>
            <name>Test_user_is_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Test_with_logged_in_user</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_last_ogin_date_to_today</targetReference>
            </connector>
            <label>Test user is selected</label>
        </rules>
    </decisions>
    <formulas>
        <name>Number_of_days_until_due_date</name>
        <dataType>Number</dataType>
        <expression>{!Get_active_user_activation_process.DueDate__c}-{!$Flow.CurrentDate}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Record_link</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) + {!Get_active_user_activation_process.Id}</expression>
    </formulas>
    <interviewLabel>User deactivation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deaktiver brukere</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_User_Deactivation_record</name>
        <label>Create User Deactivation record</label>
        <locationX>622</locationX>
        <locationY>1082</locationY>
        <assignRecordIdToReference>User_Deactivation_Record_ID</assignRecordIdToReference>
        <connector>
            <targetReference>Send_email_notifications</targetReference>
        </connector>
        <inputAssignments>
            <field>DueDate__c</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsTest__c</field>
            <value>
                <elementReference>Test_with_logged_in_user</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastLoginDate__c</field>
            <value>
                <elementReference>Input_last_login_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NotificationDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumberOfNotifications__c</field>
            <value>
                <elementReference>Number_of_users</elementReference>
            </value>
        </inputAssignments>
        <object>UserDeactivation__c</object>
    </recordCreates>
    <recordLookups>
        <description>Check if a user deactivation process already has started</description>
        <name>Get_active_user_activation_process</name>
        <label>Get active user activation process</label>
        <locationX>402</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_active_user_deactivation_process_exists</targetReference>
        </connector>
        <filters>
            <field>DeactivationDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserDeactivation__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Log_number_of_deactivated_user</name>
        <label>Log number of deactivated user</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Send_link_to_CSV_files</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_active_user_activation_process.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DeactivationDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumberOfDeactivated__c</field>
            <value>
                <elementReference>Number_of_users</elementReference>
            </value>
        </inputAssignments>
        <object>UserDeactivation__c</object>
    </recordUpdates>
    <screens>
        <name>New_extract</name>
        <label>Nytt uttrekk</label>
        <locationX>622</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_input_login_date</targetReference>
        </connector>
        <fields>
            <name>Last_Login_date</name>
            <dataType>Date</dataType>
            <fieldText>Dato for siste innlogging</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Valgt
                    dato må være enn 60 dager siden.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>({!$Flow.CurrentDate}-{!Last_Login_date})&gt;60</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>&lt;p&gt;Systemet vil hente alle brukere som ikke har logget inn siden valgt
                dato.&lt;/p&gt;&lt;p&gt;NB! Brukere som har blitt opprettet i løpet av siste 30
                dager kommer ikke med i dette uttrekket.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Test_with_logged_in_user</name>
            <dataType>Boolean</dataType>
            <fieldText>Test med din bruker</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Notification_Confirmation</name>
        <label>Bekreft utsendelse</label>
        <locationX>622</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Notification_Confirmation_Description</name>
            <fieldText>&lt;p&gt;E-post varsel sendes nå ut til {!Number_of_users} brukere.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Kjør samme flow når fristen ({!Due_Date}) er utløpt for å deaktivere brukere som ikke har respondert på varselet.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Due_Date</name>
        <label>Velg frist</label>
        <locationX>622</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_User_Deactivation_record</targetReference>
        </connector>
        <fields>
            <name>Show_number_of_users</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;{!Number_of_users}&lt;/strong&gt; brukere har ikke
                vært innlogget siden {!Last_Login_date}.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Due_Date</name>
            <dataType>Date</dataType>
            <fieldText>Frist</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Fristen
                    må være minst 7 dager fram i tid.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>({!Due_Date}-{!$Flow.CurrentDate})&gt;=7</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Status</name>
        <label>Status</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_if_CSV_files_should_be_generated</targetReference>
        </connector>
        <fields>
            <name>Status_description</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;{!Number_of_users}&lt;/strong&gt; brukere har ikke vært innlogget siden {!Get_active_user_activation_process.LastLoginDate__c}.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!Get_active_user_activation_process.NumberOfNotifications__c} &lt;/strong&gt;mottok varsel {!Get_active_user_activation_process.NotificationDate__c}, med frist {!Get_active_user_activation_process.DueDate__c}.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Create_csv_files_for_users_who_need_to_be_deactivated</name>
            <dataType>Boolean</dataType>
            <fieldText>Lag csv-filer med brukere som skal deaktiveres</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Number_of_days_until_due_date</leftValueReference>
                    <operator>LessThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_active_user_activation_process.IsTest__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>276</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_active_user_activation_process</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Input_last_login_date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Number_of_users</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>User_Deactivation_Record_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
